:root {
    --color-primary: hsl(250, 50%, 90%); /* background */
    --color-secondary: hsl(250, 50%, 10%); /* text */
    --color-tertiary: hsl(310, 80%, 20%);
    --color-accent: hsl(190, 80%, 20%);
    --ff1: 'Montserrat', sans-serif;
    --bold: 700;
    --title-size: 1.5rem;
}
.dark {
    --color-primary: hsl(250, 50%, 10%); /* background */
    --color-secondary: hsl(250, 50%, 90%); /* text */
    --color-tertiary: hsl(310, 80%, 80%);
    --color-accent: hsl(190, 80%, 80%);
}

body {
    width: 90%;
    max-width: 540px;
    margin: 0 auto;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--ff1);
}

header {
    font-family: var(--ff1);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 20px;
}

header svg {
    fill: var(--accent);
    width: 40px;
    margin-right: 4px;
  }

.jay {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 20px 0px;
}

a {
    font-weight: var(--bold);
    text-decoration: none;
}

#mode svg{
    fill: var(--color-tertiary);
    width: 20px;
}

