body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.intro {
    text-align: center;
}

h1 {
    font-size: 32px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

a {
    color: #333;
}

a:hover {
    color: #555;
}

.linkedin-button,
.github-button,
.youtube-button,
.email-button {
    display: inline-block;
    background-color: #808080;
    color: #e0e0e0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.linkedin-button:hover,
.github-button:hover,
.youtube-button:hover {
    background-color: #696969;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.linkedin-button:active,
.github-button:active,
.youtube-button:active {
    transform: translateY(0);
    box-shadow: none;
}

.linkedin-button.fade-in,
.github-button.fade-in,
.youtube-button.fade-in,
.email-button.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.linkedin-button.fade-in.linkedin-delay,
.github-button.fade-in.github-delay,
.youtube-button.fade-in.youtube-delay,
.email-button.fade-in.email-delay {
  animation-delay: 1s;
}

div.button-container {
    margin-bottom: 15px;
}


/*
*************************************Rainbow Effect to headers***************************************
*/

.rainbow-text {
    font-size: 2em;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

/****************************** Paragraph Fade In **************************/

p {
    opacity: 0;
    animation: fadeIn 2s forwards;
}
  
.welcome {animation-delay: 0s;}
.projects {animation-delay: 0s;}
.hobbies {animation-delay: 0s;}
.contact {animation-delay: 0s;}
.hiking {animation-delay: 1s;}
.rock {animation-delay: 2s;}
.videography {animation-delay: 3s;}
.fullstack {animation-delay: 4s;}

.wolfscheduler {animation-delay: .5s;}
.concertwebsite {animation-delay: 3s;}

.github-button.fade-in.github-delay {animation-delay: 1.5s;}
.youtube-button.fade-in.youtube-delay {animation-delay: 2s;}
.email-button.fade-in.email-delay {animation-delay: 2.5s;}

.linkedin-delay {animation-delay: 1s;}
.github-delay {animation-delay: 1.5s;}
.youtube-delay {animation-delay: 2s;}
.email-delay {animation-delay: 2.5s;}

.paragraph-1 {animation-delay: 1s;}
.paragraph-2 {animation-delay: 3s;}
.paragraph-3 {animation-delay: 5s;}
.paragraph-4 {animation-delay: 1s;}
.paragraph-5 {animation-delay: 2s;}
.paragraph-6 {animation-delay: 2.5s;}
.paragraph-7 {animation-delay: 3s;}

.paragraph-8 {animation-delay: 1s;}
.paragraph-9 {animation-delay: 2s;}
.paragraph-10 {animation-delay: 3s;}
.paragraph-11 {animation-delay: 4s;}

  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


  /**************************Carousel Modifiers************************/
  .carousel-image {
    max-width: 60%; /* Adjust this value to control the size of the images */
    max-height: 20%;
    margin: 0 auto; /* Center the images */
  }

  
  .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  background-image: none;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid black;
  border-width: 2px 2px 0 0;
}

.carousel-control-prev-icon::before {
  transform: rotate(-135deg);
}

.carousel-control-next-icon::before {
  transform: rotate(45deg);
}

.carousel-fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  





  
  
  



