:root {
    --color-primary: hsl(250, 50%, 90%); /* background */
    --color-secondary: hsl(250, 50%, 10%); /* text */
    --color-tertiary: hsl(310, 80%, 20%);
    --color-accent: hsl(190, 80%, 39%);
    --ff1: 'Montserrat', sans-serif;
    --bold: 700;
    --title-size: 1.5rem;
    --article-size: 1rem;
    --date-size: 0.75rem;
}
.dark {
    --color-primary: hsl(250, 50%, 10%); /* background */
    --color-secondary: hsl(250, 50%, 90%); /* text */
    --color-tertiary: hsl(310, 80%, 80%);
    --color-accent: hsl(190, 80%, 80%);
}

body {
    width: 90%;
    max-width: 540px;
    margin: 0 auto;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--ff1);
}

header {
    font-family: var(--ff1);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 20px;
}

header svg {
    fill: var(--accent);
    width: 40px;
    margin-right: 4px;
  }

footer {
    margin-top: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jay {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 20px 0px;
}

a {
    font-weight: var(--bold);
    text-decoration: none;
}

a.jay {
    color: var(--color-secondary);
    text-decoration: none;
}

a.jay:hover {
    color: var(--color-tertiary);
}

#mode {
    cursor: pointer;
}

#mode svg {
    fill: var(--color-tertiary);
    width: 20px;
}

#mode .sun-icon {
    width: 28px;
    height: 28px; 
}

.dark .sun-icon {
    display: none !important;
}

.dark .moon-icon {
    display: block;
}

.sun-icon {
    display: block;
}

.moon-icon {
    display: none;
}

.article-title {
    margin: 1.5rem 0;
    font-size: var(--article-size);
    font-weight: var(--bold);
    color: var(--color-secondary);
    cursor: pointer;
}

.article-title:hover {
    color: var(--color-tertiary);
}

.publish-date {
    font-style: italic;
    font-size: var(--date-size);
    color: var(--color-secondary);
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    opacity: 0.8;
}

.social-links {
    display: flex;
    gap: 1.5rem;
}

.social-links svg {
    width: 24px;
    height: 24px;
    fill: var(--color-secondary);
    transition: fill 0.2s ease;
}

.social-links svg:hover {
    fill: var(--color-tertiary);
}